body{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
 width: 80%;
}

#seccionInicial img{
  width: 50px;
}

#seccionInicial .titulo{
  color: #fcb425;
  font-size: 3em;
  text-align: center;
}
#seccionInicial p {
  color: #1a1a1a;
  font-size: 1em;
  font-family: sans-serif;
}
